@charset "utf-8";

.category {
  &__inner {
    display: flex;
    justify-content: center;
    padding: 6rem 2vw;
  }
  &__item {
    display: block;
    width: calc(100vw / 8);
    margin-right: 0.5vw;
    text-align: center;
    &--img {
      width: 100%;
      border-radius: 5px;
      &.current-page {
        border-radius: 5px;
        border: 1px solid #000;
      }
    }
    &--text {
      font-size: 0.8rem;
    }
  }
  .current-page &__item--img{
    border-radius: 5px;
    border: 1px solid #000;
  }
}

.glasses {
  &__inner {
    padding: 0 5px;
  }
  &__count {
    display: block;
    margin: 0.5rem 0;
  }
  &__grid-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    width: 100%;
  }
}
.item {
  display: none;
  &.block {
    display: block;
  }
  &__link {
    display: block;
  }
  &__img {
    width: 100%;
    border-radius: 10px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.5rem 0 0.5rem;
    font-weight: 600;
    &--name {
      margin: 0 0 0.5em 0;
    }
  }
  &-color {
    display: inline-block;
    width: 12px;
    height: 12px;
    padding-bottom: 2.5rem;
  }
  &__color {
    padding: 0 0.5rem;
    &--img {
      width: 100%;
      border: 1px solid #eee;
      border-radius: 50%;
    }
  }
}
