@charset "utf-8";

.category {
  &__inner {
    display: flex;
    justify-content: center;
    padding: 6rem 2vw;
  }
  &__item {
    display: block;
    width: calc(100vw / 8);
    margin-right: 0.5vw;
    text-align: center;
    &--img {
      width: 100%;
      border-radius: 5px;
      &.current-page {
        border-radius: 5px;
        border: 1px solid #000;
      }
    }
    &--text {
      font-size: 0.8rem;
    }
  }
  .current-page &__item--img{
    border-radius: 5px;
    border: 1px solid #000;
  }
}
.glasses {
  &__count {
    display: block;
    margin: 0.5rem 0;
  }
  @include inner-style-5px;
  &__grid-box {
    @include grid-style;
  }
  .item {
    display: none;
    &.block {
      display: block;
    }
    &__link {
      display: block;
    }
    &__img {
      @include item-img-style;
    }
    &__info {
      @include item-info-style;
    }
    @include item-color-style;
  }
}
@include laptop {
  .glasses {
    &__grid-box {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@include mobile {
  .glasses {
    &__grid-box {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}