.main-banner {
  width: 100%;
  height: calc(100vh - 60px);
  background: url(../images//lash_main.jpg) no-repeat;
  background-size: cover;
  margin-bottom: 4rem;
}
.slide {
  display: flex;
  width: 175%;
  margin-left: 0;
  &__item{
    display: block;
    position: relative;
    width: 25%;
    height: 499px;
    padding: 0 5px;
    box-sizing: border-box;
    &:hover::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.397);
    }
    &--img {
      width: 100%;
      height: 100%;
      border-radius: 1em;
    }
    &--text {
      position: absolute;
      top: 1.5em;
      left: 1.5em;
      width: calc(100% - 10px);
      font-size: 1.5rem;
      font-weight: 900;
      color: #fff;
    }
  }
}

